<div class="container">
  <mat-card>
    <!-- header -->
    <div class="title-container">
      <mat-card-title>Login page</mat-card-title>
    </div>

    <!-- email -->
    <div class="top-input-container">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="email">

        <button class="icon-color" matSuffix mat-icon-button aria-label="Clear" 
          *ngIf="email" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- password -->
    <div class="input-container">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        
        <button class="icon-color" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button class="login-button" mat-flat-button color="primary">Continue</button>
    </div>
  </mat-card>
</div>